<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watson VR</title>
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css' type='text/css' media='all' />
  <link rel="stylesheet" href= "style.css" type="text/css" >

  <script src="https://cdn.rawgit.com/blueimp/JavaScript-Load-Image/v2.6.2/js/load-image.all.min.js"></script>
  <style>
  </style>
</head>

<body>
<!-- ナビゲーションバー -->
<!-- <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#2a9fd6;border:none;color:#1E2F39">
    <div class="container-fruid">
        <div class="navbar-header">
          <a href="./index.html" class="navbar-brand">Watson VR</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="./index.html"><i class="fa fa-video-camera fa-orange fa-fw" aria-hidden="true"></i> カメラ付きPC用</a></li>
            <li><a href="#"><i class="fa fa-mobile fa-orange fa-lg faa-wrench animated fa-fw" aria-hidden="true"></i> スマートフォン用</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://nodered777.au-syd.mybluemix.net/vr"><i class="fa fa-object-ungroup fa-gray fa-fw fa-spin" aria-hidden="true"></i> 物体検出用(仮)</a></li>
        </ul>
    </div>
</nav> -->


<!-- メイン画面 -->
<!--<div style="background-color:#fff; min-height:60px;" class="container-fluid">
  <p><div style="color:#000" id="dev"></div></p>
  <div style="margin:5px 10px;float:left"><a href="index.html"><img src="./image/bm.png" width="200px" /></a></div>
  <div style="margin:5px 10px;float:right"><a href="index.html"><img src="./image/nw.png" width="200px" /></a></div>
</div>-->
<header id="header">
 <h1 class="logo_nw"><a href="http://www.networld.co.jp/"><img src="image/networld.png" width="120" height="35" alt="Networld"/></a></h1>
 <h1 class="logo_ibm_bm"><img src="image/ibm_bluemix.png" width="178" height="40" alt="IBM Bluemix"/></h1>
</header>

<!-- Container -->
<div class="container" style="text-align:center;display:">
  <!-- カメラ表示 -->
  <h2 class="page_title">“画像認識(VR)” 体験アプリ<br><span class="text_s">～★スマホ版～</span></h2>
    <img src="image/image.png" width="300" height="60" alt=""/>
<p class="text01">あなたの顔写真を撮って<br>似ている動物を判定するよ！</p>
  
   <div class="row">
    <div class="col-xs-12 col-lg-6">
      <!-- <p><canvas id="canvas" width="400" height="300" style="display:"></canvas></p> -->
      <p><canvas id="canvas" style="width:100%"></canvas></p>
    </div>
  </div>
  <div id="hoge"></div>
  
  <!-- ■カメラボタン表示 -->
  <div id="recording" style="display:none;">
    <p class="text01">顔写真をアップロードしてください！！</p>
    <p class="text02">↓↓このボタンを押してね↓↓</p>
    <input id="uploadFile" class="button" name="image" type="file" />
  </div>

  <!-- ▲Wait表示（少々お待ちください）-->
  <div id="processing" style="display:none">
    <p class="blinking"><blink>少々お待ちください</blink></p>
  </div>

  <!-- ▲顔表示ないので、うつして！ or 動物似てない！ -->
  <p id="message" class="message01"></p>

  <!-- ▲もう一度判定ボタン表示 -->
  <div id="again-x" style="display:none">
    <button id="btn_retry" onClick="startRecording()">もう１度判定！</button>
  </div>
</div>


<div class="container text-center">
<div class="row">
  <!-- ●結果スコアを表示 -->
  <div id="result" style="display:none">
    <div>

 <p class="kekka_title">結果発表！</p>
        
      <div>
       <p class="text01">あなたは</p>
       <p id="score" class="text03"></p>
          <!-- ●結果画像を表示 -->
       <p id="gazou" class="icon"></p>

          <!-- ▲もう一度判定ボタン表示 -->
          <div id="again" style="display:none">
            <button id="btn_retry" onClick="startRecording()">もう１度判定！</button>
          </div>
      </div>
    </div>
  </div>

  <!-- ●●その他の動物/確信度を表示/ -->
  <div id="result2" style="display:none">
        <p>ほかにも・・・</p>
      <div>
        <!-- ●●他の・・どうぶつ表示 -->
        <p id="score2"></p>
      </div>
  </div>
</div>
</div>


<script type="text/javascript" src="js-sp2.js"></script>

</body>
</html>
